h1{
    font-family: Helvetica;
    font-size: 100px;
    display: block;
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-2/pattern.jpeg");
    color: khaki;
    text-align: center;
}

.brushes{
  background-color: mediumspringgreen;  
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
  color: white;
 
}

.frames{
    background-color: lightcoral;  
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
  color: white;

}
.paint{
    background-color: skyblue;  
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
  color: white;
}

.link{
    font-family:  Helvetica;
    font-weight: bold;
    color: blue;
}